body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: crimson;
    font-size:xx-large;
    color: whitesmoke;
    text-decoration: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    border-radius: 4px;
    padding: 8px;
    background-color: whitesmoke;
    color: crimson;
}
a:link{
    color: crimson;
}